@charset "UTF-8";

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

html, body {
    font-family: Arial, Helvetica, sans-serif;

}
a {
    color: black;
    font-weight: bold;
    padding: 8px;
}
a:hover {
    color: darkorange;
}
#cabeça {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    padding: 30px 50px;

    background-color: firebrick;
}
#navegador-lista{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
li {
    padding: 0px 10px;
}
#botao-mobile {
    display: none;
}
@media screen and (max-width: 600px) {
    #navegador-lista {
        display: block;
        position: absolute;
        width: 100%;
        height: 0px;
        top: 96px;
        right: 0px;
        background-color: rgb(146, 33, 33);
        transition: .6s;
        z-index: 1000;
        visibility: hidden;
        overflow-y: hidden;
    }
    #navegador.active #navegador-lista{
        height: 358px;
        visibility: visible;
        overflow-y: auto;
    } 
    #navegador-lista li {
        padding: 40px;
        font-size: 2em;
        border-bottom: 2px solid rgba(218, 165, 32, 0.288);
    }
    #botao-mobile {
        display: flex;
        padding: .5rem .1rem;
        font-size: 1rem;
        background: none;
        border: none;
        cursor: pointer;
        gap: 10px;
    }
    #hamburguer {
        border-top: 2px solid;
        width: 20px;
    }
    #hamburguer::after, #hamburguer::before {
        content: '';
        display: block;
        width: 20px;
        height: 2px;
        background: currentColor;
        margin-top: 5px;
        transition: .3s;
        position: relative;
    }
    #navegador.active #hamburguer {
        border-top: transparent;

    }
    #navegador.active #hamburguer::before {
        transform: rotate(135deg);
    }
    #navegador.active #hamburguer::after {
        transform: rotate(-135deg);
        top: -7px;
    }
}

/*//////////////////////////////////////////////////////////////////////////////////////////////////////////*/

main {
    width: 100vw;
    height: 100vh;

    background-image: url(../imagem/background-pizza.jpg);
    background-position: center center;
    background-size: cover;
}